<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="en">



<div class="container-fluid mt-3" layout:fragment="content">

    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Make Study
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form form action="/study/modify" method="post">
                            <input type="hidden" name="sid"  th:value="${makedto.sid}">
                            <div>
                                <input type="text" class="form-control" placeholder="Study name" name="studyName" th:value="${makedto.studyName}" />
                            </div>
                            <div>
                                <input type="number" class="form-control" placeholder="Phone Number" name="phoneNumber" th:value="${makedto.phoneNumber}" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" name="email" th:value="${makedto.email}"/>
                            </div>
                            <div>
                                <textarea name="intro" rows="5" class="form-control" placeholder="스터디 소개" >[[${makedto.intro}]]</textarea>
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Your Post" name="post" th:value="${makedto.post}"/>
                            </div>
                            <div>
                                <input type="number" class="form-control" placeholder="How many persons?" name="persons" th:value="${makedto.persons}"/>
                            </div>
                            <div>
                                <select class="form-control nice-select wide" name="progressMethod">
                                    <option value="" disabled selected>
                                        진행방식
                                    </option>
                                    <option value="on-line"  th:selected="${makedto.type =='on-line'}">
                                        on-line
                                    </option>
                                    <option value="off-line" th:selected="${makedto.type =='off-line'}">
                                        off-line
                                    </option>
                                </select>
                            </div>
                            <div>
                                <input type="number" class="form-control" placeholder="마감일" name="closeDate" th:value="${makedto.closeDate}"/>
                            </div>
                            <div class="btn_box" >
                                <button type="submit">수정</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>

    </section>

</div>
<!-- end book section -->


<script layout:fragment="script" th:inline="javascript">
    var msg=[[${msg}]]
    function msgdisplay(){
        if(msg!=null) {

            alert(msg);
        }
    }
    msgdisplay();
</script>

